<a href="https://colab.research.google.com/github/lucienomarjarrett/lucienomarjarrett/blob/main/attrs_module.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [79]:
import attr

In [80]:
@attrs
class Person(object):
    name = attrib(default="Chris")
    age = attrib(default=32) 
    skills = attrib(factory=list) # initialise with a default value

p1 = Person()
p2 = Person("Chris", 32)

In [81]:
p1, p2

(Person(name='Chris', age=32, skills=[]),
 Person(name='Chris', age=32, skills=[]))

In [82]:
p1.skills.append('Python')
p2.skills.append('Javascript')

In [83]:

class Person(object):
  def __init__(self,name:str, age:int) -> None:
      self.name = name
      self.age = age

p1 = Person("Chris", 32)
p2 = Person("Chris", 32)

In [84]:
p1

In [85]:
p1 == p2

False

In [86]:
@attrs
class Student(object):
  name = attrib()
  age = attrib()
  student_id = attrib()

  @student_id.validator
  def check_student_id(self, attribute, value):
    if len(str(value)) !=6:
      raise ValueError(f'student_id must be 6 characters! got {len(str(value))}')

In [74]:
s1 = Student("Lucien", 42, 123456)

In [75]:
s1

Student(name='Lucien', age=42, student_id=123456)

In [76]:
@attrs 
class Person(object):
  name = attrib()
  age = attrib()

  def get_name(self):
    return self.name


@attrs 
class User(object):
  user_id = attrib()

  def get_user_id(self):
    return self.user_id

@attrs 
class Student(Person, User):
  student_id = attrib()

  def get_student_id(self):
    return self.student_id


student = Student('Lucien', 32, 'ljarrett', 123456)

In [77]:
student
(student.get_name(),
student.get_student_id(),
student.get_user_id())

('Lucien', 123456, 'ljarrett')

In [87]:
attr.asdict(student)

{'age': 32, 'name': 'Lucien', 'student_id': 123456, 'user_id': 'ljarrett'}